{
  "$schema": "https://opencode.ai/config.json",
  "instructions": ["{{ .chezmoi.homeDir }}/.config/opencode/AGENTS.md"],
  "default_agent": "orchestrator",
  "agent": {
    "general": {
      "permission": {
        "task": "deny"
      }
    },
    "explore": {
      "permission": {
        "task": "deny"
      }
    }
  },
  "permission": {
    "task": "allow"
  },
  "plugin": [
    "openslimedit@latest",
    "@tarquinen/opencode-dcp@latest",
    "opencode-snip@latest"
  ],
  "provider": {
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama",
      "options": {
        "baseURL": "http://localhost:11434/v1"
      },
    }
  }
}
